<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://v3.bootcss.com/favicon.ico">

    <title>Static Top Navbar Example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/navbar-static-top.css" rel="stylesheet">
	<link href="/static/customize.css" rel="stylesheet">
	
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">抽屉</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
         
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">全部</a></li>
	            {% for category in bbs_category %}
	            	
	            	{% ifequal category.id cata_id %}
	            		<li class="active"><a href="/category/{{category.id}}/">{{ category.name }}</a></li>
	            	{% else %}
	            		<li class=""><a href="/category/{{category.id}}/">{{ category.name }}</a></li>
	            	{% endifequal %}
	            {%endfor%}
          </ul>
          
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              {% if user.is_authenticated %}
              	{{ user.username }}
              {% else %}
              	login
              {% endif %}
              <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/login/">login</a></li>
                <li><a href="/logout/">logout</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class="container center-container-hx ">
	{% block page-content %}
      <!-- Main component for a primary marketing message or call to action -->
      <div class="contents">
       {% for bbs in bbs_list %}
       	<a href='/detail/{{ bbs.id }}/'> {{ bbs.title }} </a>
       	<br>
       	{{ bbs.summary }}
       	<hr>
       {% endfor %}
      </div>

    </div> <!-- /container -->
	{% endblock %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/jquery.js"></script>
    <script src="/static/bootstrap.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  

</body></html>
